body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

.page {
  width: calc(100% - 4rem);
  height: calc(100% - 9rem);
  padding: 2rem;
  color: rgb(64, 64, 64);
  text-align: justify;
}

.page b {
  color: #1565c0;
}

.page h1 {
  color: #1565c0;
  font-size: 5rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.page h1 > * {
  color: #1565c0;
  font-size: 5rem;
  vertical-align: middle;
  margin: 0;
}

.page h2 {
  color: #1565c0;
  font-size: 3.5rem;
  text-align: left;
}

.page h2 > * {
  color: #1565c0;
  font-size: 3.5rem;
  text-align: left;
}

.page {
  font-size: 1.3rem;
}

.fullscreen-popup {
  z-index: 2000;
  padding: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  min-width:calc(100% - 4rem);
  min-height: calc(100% - 4rem);
  position: absolute;
  left: 0;
  top: 0;
}